* {
    font-family: Montserrat !important;
}
a {
    margin: 2px;
    text-decoration: underline;
}
$primary-color: #1481F6;

.submit-btn {
    background-color: $primary-color !important;
    color: white !important;
    border-radius: 1000px !important;
}
.default-btn {
    border-radius: 1000px !important;
}
.colored-text {
    color: $primary-color;
}

.v-icon {
    font-size: 24px !important;
}
