* {
    font-family: Montserrat !important;
}
a {
    margin: 2px;
    text-decoration: underline;
}
$primary-color: #1481F6;

.submit-button {
    background-color: $primary-color !important;
    color: white !important;
    border-radius: 1000px !important;
}
.default-btn {
    border-radius: 1000px !important;
}